            "berlin",
            "hamburg",
            "munich",
            "cologne",
            "frankfurt",
            "stuttgart",
            "düsseldorf",
            "dortmund",
            "leipzig",
            "bremen"